{% extends "header.html" %}

{% block content %}

<div class="container">
  <h3>
    <c:out value="{{action}}" /> social media
  </h3>

  <form method="POST" action="{{destination}}" enctype="multipart/form-data">

    <div class="form-group">
      <label for="socialMediaName">Social Media Name</label>
      <input type="text" name="socialMediaName" id="socialMediaName" value="{{socialMedia.socialMediaName}}" class="form-control" />
    </div>

    <div class="form-group">
      <label for="socialMediaLink">Social Media Link</label>
      <input type="text" name="socialMediaLink" id="socialMediaLink" value="{{socialMedia.socialMediaLink}}" class="form-control" />
    </div>

    <input type="hidden" name="personId" id="personId" value="{{personId}}" class="form-control" />

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>

{% endblock %}