{% extends "header.html" %}

{% block content %}

<div class="container">
  <h3>
    <c:out value="{{action}}" /> group
  </h3>

  <form method="POST" action={{destination}} enctype="multipart/form-data">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="{{group.name}}" class="form-control" />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="description" class="form-control">{{group.description}}</textarea>
    </div>

    <div class="form-group ${isCloudStorageConfigured ? '' : 'hidden'}">
      <label for="image">Cover Image</label>
      <input type="file" name="file" id="file" class="form-control" />
    </div>

    <div class="form-group hidden">
      <label for="imageUrl">Cover Image URL</label>
      <input type="hidden" name="id" value="{{group.id}}" />
      <input type="text" name="imageUrl" id="imageUrl" value="{{group.imageUrl}}" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>

{% endblock %}