{% extends "header.html" %}

{% block content %}
<div class="container">

<!-- [START list persons] -->
  <h3>Choose Persons</h3>
        {% if persons %}
            {% for person in persons %}
            <div>
                <div class="media">
                      <div class="media-left">
                        <img height="100" src="https://image.flaticon.com/icons/svg/747/747545.svg">
                      </div>
                      <div class="media-body">
                        <h4>{{person.first_name}}</h4>
                        <p>{{person.last_name}}</p>
                        <p>{{person.job_title}}</p>
                        <p>{{person.description}}</p>
                      </div>
                </div><br>
                <div class="btn-group">
                      <a href="/tagPersonWithPost?id={{person.id}}&postId={{post_id}}" class="btn btn-primary btn-sm">
                          <i class="glyphicon glyphicon-edit"></i>
                          + Add
                      </a>
                </div>
            </div><br>
            {% endfor %}
            {% if personCursor %}
                <ul class="pager">
                    <li><a href="?id=${post_id}&personCursor=${personCursor}">More</a></li>
                </ul>
            {% endif %}
        {% else %}
            <p> No persons found. </p>
        {% endif %}

</div>
{% endblock %}