<html lang="en">

  <head>
    <title>Personshelf</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Personshelf</div>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/listGlobalPosts">Global</a></li>
          <li><a href="/listPersons">My Persons</a></li>
          <li><a href="/listGroups">My Groups</a></li>
          <li><a href="/listPosts">My Posts</a></li>
        </ul>
        <p class="navbar-text navbar-right">
          {% if userEmail %}
          
          {{userEmail}}
          <a href="/logout">
            {% if userImageUrl %}
              <img class="img-circle" src={{userImageURL}} width="24">
            {% endif %}
            
          Log Out  
          </a>
          
          {% else %}
          <a href="/login">Login</a>
          <a href="/register"> Register </a>
          {% endif %}
        </p>
      </div>
    </div><br>
    <c:import url="/${page}.jsp" />
  </body>
</html>
