<html lang="en">
  <style>
  .grid-container {
      display: grid;
      grid-template-columns: 360px 360px 360px ;
      grid-gap:10px;
      padding: 10px;
  }
  .media {
      display: grid;
      text-align:left;
      padding: 15px;
      margin-top : 0px;
      background-color : rgba(172, 169, 169, 0.1);
  }
  .media-left{
      padding-left:10px;
  }
  </style>

  <head>
    <title>Personshelf</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>


  <body>
    <div class="container">

        <h3>Persons</h3>
        <div>
            <a href="/createPerson" class="btn btn-success btn-sm">
                <i class="glyphicon glyphicon-plus"></i>
                Add person
            </a>
        </div><br>
        <div class="grid-container">
          
          {% if persons %}
              {% for person in persons %}
                  <div class="media">
                    <a href="/viewPerson?id={{person.id}}">
                      <div class="media-left">
                        <img alt="ahhh" height="100"src="https://image.flaticon.com/icons/svg/747/747545.svg">
                      </div>
                      <div class="media-body">
                        <h4>{{person.first}}</h4>
                        <p>{{person.last}}</p>
                        <p>{{person.jobTitle}}</p>
                        <p>{{person.description}}</p>
                      </div>
                    </a>
                  </div>
              {% endfor %}
              {% if personCursor %}
                 <nav>
                   <ul class="pager">
                     <li><a href="?personCursor={{personCursor}}">More</a></li>
                   </ul>
                 </nav>
              {% endif %}
          {% else %}
              <p>No persons found</p>
          {% endif %}
          
        </div>

    </div>
  <body>
<html>