{% extends "header.html" %}

{% block content %}
    <div class="container">

        <h3>Persons</h3>
        <div>
            <a href="/createPerson" class="btn btn-success btn-sm">
                <i class="glyphicon glyphicon-plus"></i>
                Add person
            </a>
        </div><br>
        <div class="grid-container">
          
          {% if persons %}
              {% for person in persons %}
                  <div class="media">
                    <a href="/viewPerson?id={{person.id}}">
                      <div class="media-left">
                        <img alt="ahhh" height="100"src="https://image.flaticon.com/icons/svg/747/747545.svg">
                      </div>
                      <div class="media-body">
                        <h4>{{person.first}}</h4>
                        <p>{{person.last}}</p>
                        <p>{{person.jobTitle}}</p>
                        <p>{{person.description}}</p>
                      </div>
                    </a>
                  </div>
              {% endfor %}
              {% if personCursor %}
                 <nav>
                   <ul class="pager">
                     <li><a href="?personCursor={{personCursor}}">More</a></li>
                   </ul>
                 </nav>
              {% endif %}
          {% else %}
              <p>No persons found</p>
          {% endif %}
          
        </div>

    </div>
{% endblock %}
