{% extends "header.html" %}

{% block content %}
<div class="container">
    <h1>Register</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.passwordVerify.label }}<br>
            {{ form.passwordVerify(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}